attrs==20.3.0
importlib-metadata==3.4.0
iniconfig==1.1.1
numpy==1.20.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
py-cpuinfo==7.0.0
pyparsing==2.4.7
pytest==6.2.2
pytest-benchmark==3.2.3
scipy==1.6.0
semantic-version==2.8.5
setuptools-rust==0.6.0
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.0
numexpr==2.7.2
numba==0.52.0
